.type-1815 {
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'Lato';
  color: #334862; }
  .type-1815 .col_inner {
    padding-top: 20px; }
    .type-1815 .col_inner .title {
      font-size: 17px;
      font-weight: 600;
      line-height: 1.5;
      color: #777;
      letter-spacing: 0.3px;
      opacity: 0.9;
      text-transform: uppercase; }
    .type-1815 .col_inner .border-title {
      background: #00000024;
      width: 36px;
      height: 3px; }
      .type-1815 .col_inner .accordion_item {
        border-bottom: 1px solid #d1d4d8; }
        .type-1815 .col_inner .accordion_item_title {
          padding: 10px 0px 10px 0px;
          color: #334862;
          display: block;
          transition: all ease 0.2s; }
          .type-1815 .col_inner .accordion_item_title .btn_toggle {
            position: absolute;
            font-size: 35px;
            left: 3%;
            top: 10%;
            opacity: 0.6; }
          .type-1815 .col_inner .accordion_item_title:hover {
            text-decoration: none;
            color: #111111; }
        .type-1815 .col_inner .accordion_item:last-child {
          border-bottom: none;
          margin-bottom: 30px; }
      .type-1815 .col_inner .accordion_inner {
        padding: 0px 50px 3px 30px;
        display: block;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.4;
        color: #333;
        border-left: 1px solid #d1d4d8;
        margin-bottom: 5px; }
        .type-1815 .col_inner .accordion_inner .dis-block {
          display: block; }
      .type-1815 .col_inner .accordion .panel-title-main, .type-1815 .col_inner .accordion .panel-title a {
        font-size: 19px;
        font-weight: 500;
        line-height: 1.4;
        letter-spacing: 0.2px;
        color: #334862;
        display: block;
        opacity: 0.8; }
        .type-1815 .col_inner .accordion .panel-title-main:hover, .type-1815 .col_inner .accordion .panel-title a:hover {
          color: black;
          text-decoration: none;
          transition: 0.2s; }
      .type-1815 .col_inner .accordion .panel-title a {
        position: relative;
        padding: 10px 0px 10px 0px; }
        .type-1815 .col_inner .accordion .panel-title a.collapsed::after, .type-1815 .col_inner .accordion .panel-title a::after {
          content: "\f107";
          font-family: fontawesome;
          font-size: 20px;
          line-height: 60px;
          position: absolute;
          right: 10px;
          top: -8px;
          color: #888;
          opacity: 0.8; }
        .type-1815 .col_inner .accordion .panel-title a:after {
          content: "\f106 "; }
    .type-1815 .col_inner .product {
      margin-bottom: 25px; }
      .type-1815 .col_inner .product_item {
        border-bottom: 1px solid #d1d4d8; }
        .type-1815 .col_inner .product_item .item {
          font-size: 19px;
          font-weight: 500;
          line-height: 1.4;
          letter-spacing: 0.2px;
          position: relative;
          padding: 10px 0px 5px 0px;
          color: #334862;
          display: inline-block;
          opacity: 0.8;
          text-decoration: none; }
        .type-1815 .col_inner .product_item .count {
          float: right;
          margin-right: 3%;
          margin-top: 17px;
          font-size: 15px;
          opacity: 0.7; }
    .type-1815 .col_inner .slidecontainer {
      width: 100%;
      margin-bottom: 50px;
      margin-top: 10px; }
      .type-1815 .col_inner .slidecontainer input {
        overflow: visible;
        margin-bottom: 10px; }
